.glyphicon {
    font-size: 25px;
}

img {
    height: 130px;
}

.head {
    font-size: 25px;
    background-color: #e8e8e8;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 30px;
}

.head .glyphicon {
    font-size: 25px;
}

.contact {
    border: thin solid black;
    padding:2px;
    background-color: #555e8b;
    color: #cfcad0;
    font-size: 25px;
}

#myform {
    display: none;
}

body {
    background-color: #7b828c;
}

@media only screen and (max-width: 980px) {
    img {
        margin-left: 36%;
        height: 100px;
    }
    #contactName {
        text-align: center;
    }
    #picture {
        background-color: #d6d6d6;
    }
}